$negro: #111111; 
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;

$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e2dddd;
  font-family: 'Roboto', sans-serif;
  transition: 0.3s ease all;

  &.dark {
    background: $negro;
  }
}

body.dark h1 {
  color: $blanco;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  color: $grisOscuro;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease all;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

nav {
  background: $blanco;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: $sombraDark;

  body.dark & {
    background: $grisOscuro;
    box-shadow: $sombraLight;

    a {
      color: $grisClaro;

      &:hover {
        color: $blanco;
      }
    }
  }

  .enlaces {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
      text-decoration: none;
      margin-right: 40px;
	  color: $negro;
	  font-size: 1.3rem;

      &:hover {
        color: $grisClaro;
      }
    }
  }
}

.switch {
  background: $grisOscuro;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: $grisClaroHover;
    top: 0;
    left: 0;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
  }

  &.active {
    background: orange;
    color: $negro;

    &::after {
      left: unset;
      right: 0;
    }
  }

  span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: $blanco;
  }
}

// 🟦 Tarjetas de datos
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: stretch;

  .card {
    background-color: $blanco;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 205px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease all;

    p {
      margin: 10px 0;
      font-size: 1.2rem;
    }

    body.dark & {
      background: $grisOscuro;
      color: $blanco;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    }
  }
}
